/* Confing da tela inteira*/
.tela_login {
  display: flex;
  flex-direction: row;
}
/* Confing da tela inteira*/
/* Confing do bloco registro*/
.barra1 {
  background-color: #fe690e;
  width: 4px;
  height: 100vh;
}
.lado_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 55vw;
}
.div_logo {
  top: 20px;
  left: 20px;
  position: fixed;
  display: flex;
  width: auto;
  img {
    width: 350px;
    height: 110px;
  }
}
.bloco_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
}
.titulo_login {
  margin: 2%;
  color: #5e2075;
  font-size: 45px;
  font-weight: 790;
  text-align: center;
}
.conjunto_inputs1 {
  display: flex;
  flex-direction: column;
  color: #5e2075;
  font-size: 20px;
  font-weight: 500;
  width: 64%;
  margin: 2%;
  gap: 2vh;
  span {
    padding-left: 1vw;
  }
}

/* Confing do bloco registro*/
/* Confing do bloco imagem*/
.lado_foto {
  width: 45vw;
  height: 100vh;
  background-image: url(../../../public/imagens/imagem_fundo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 15%;
  margin-top: 20%;
  margin-bottom: 20%;
}
.titulo {
  color: white;
  font-size: 45px;
  font-weight: 790;
}
.texto {
  color: white;
  font-size: 45px;
  font-weight: 400;
}
/* Confing do bloco imagem*/
@media screen and (max-width: 850px) {
  /* Confing da tela*/
  .tela_login {
    flex-direction: column;
    height: 100vh;
  }
  /* Confing da tela*/
  .barra1 {
    width: 100vw;
    height: 4px;
  }
  /* Confing do bloco registro*/
  .lado_login {
    width: 100vw;
    height: 45%;
  }
  .bloco_login {
    margin: 0;
    gap: 1vh;
  }
  .div_logo {
    position: static;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
    img {
      width: 200px;
      height: 65px;
    }
  }
  .titulo_login {
    font-size: 32px;
    font-weight: 790;
    margin: 0;
  }
  .conjunto_inputs1 {
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    gap: 1vh;
    span {
      padding-left: 3vw;
    }
  }
  /* Confing do bloco registro*/
  /* Confing do bloco imagem*/
  .lado_foto {
    width: 100vw;
    height: 55%;
  }
  .conteudo {
    margin: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .titulo {
    font-size: 32px;
    font-weight: 790;
  }
  .texto {
    font-size: 32px;
    font-weight: 400;
  }
  /* Confing do bloco imagem*/
}
