/*.menu,
.pesquisar,
.amigos,
.editUsuario,
.editPerfil,
.editCapa {
	display: none;
}*/
.corpo {
	display: flex;
	flex-direction: row-reverse;
}
.menu {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 20px;
	top: 1.5vh;
	right: 1.5vw;
	width: 0;
	height: 98vh;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms, width 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 0.5vh;
		right: 0.5vw;
	}
}
.menu.visivel {
	opacity: 1;
	width: 49vw;
	transition: opacity 300ms, width 300ms;
	pointer-events: auto;
}
.pesquisar {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 30px;
	top: 10px;
	left: 50vw;
	width: 49vw;
	height: 98vh;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 1vh;
		right: 1vw;
	}
}
.pesquisar.visivel {
	opacity: 1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.amigos {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 30px;
	top: 10px;
	left: 50vw;
	width: 49vw;
	height: 98vh;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 1vh;
		right: 1vw;
	}
}
.amigos.visivel {
	opacity: 1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.editUsuario {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 30px;
	top: 10px;
	left: 50vw;
	width: 49vw;
	height: 98vh;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 1vh;
		right: 1vw;
	}
}
.editUsuario.visivel {
	opacity: 1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.editPerfil {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 30px;
	top: 10px;
	left: 10px;
	width: 49vw;
	height: 98vh;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 1vh;
		left: 1vw;
	}
}
.editPerfil.visivel {
	opacity: 1;
	transition: opacity 300ms;
	pointer-events: auto;
}
.editCapa {
	backdrop-filter: blur(10px);
	position: absolute;
	border-radius: 30px;
	top: 10px;
	left: 50%;
	width: 49%;
	height: 98%;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(92, 61, 40, 0.475);
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
	.voltar {
		position: absolute;
		top: 1vh;
		right: 1vw;
	}
}
.editCapa.visivel {
	opacity: 1;
	transition: opacity 300ms;
	pointer-events: auto;
}
