.tela_inteira {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow-y: auto; /* Habilita a rolagem vertical */
	overflow-x: hidden; /* Desabilita a rolagem horizontal */
	scrollbar-width: none;
}
/* Config da parte de cima */
/* Config da barra de funções */
.parte_cima {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 26%;
	background-image: url(../../../public/images/img_fundo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.logo {
	display: flex;
	width: 50%;
	margin: 1vh 2vw;
	img {
		width: 250px;
		height: 80px;
	}
}
.funcoes {
	width: 50%;
	display: flex;
	align-self: flex-start;
	justify-content: flex-end;
	margin: 2vh 2vw;
	gap: 1vw;
}
.mais {
	display: none;
}
/* Config da parte de cima */
/* Config da parte de baixo */
.parte_baixo {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 74%;
}
.parte_perfil {
	/*margin: 1vh 0;*/
	display: flex;
	justify-content: center;
	/* Teste */
	background-color: rgb(240, 239, 235);
	border-radius: 10px;
	box-shadow: 0px 3.5px 3.5px #0000002d;
}
.perfil {
	display: flex;
	flex-direction: column;
}
.foto_perfil {
	position: relative;
	top: -120px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: rgb(217, 217, 217);
	box-shadow: 0px 3.5px 3.5px #00000056;
}
.editar_perfil {
	position: relative;
	top: -160px;
	left: 180px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.parte_escrita {
	width: 60%;
	margin: 1vh 3vw;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.nome_idade {
	font-weight: 400;
	font-size: 48px;
	color: rgb(41, 41, 41);
	align-items: flex-start;
	margin: 0;
	word-break: break-word;
}
.bio_completa {
	width: 70%;
	font-weight: 400;
	font-size: 25px;
	margin: 0;
	padding: 10px;
	color: rgb(41, 41, 41);
	word-break: break-word;
}
.editar_capa {
	position: relative;
	top: -25px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.parte_fotos {
	display: flex;
	flex-direction: column;
}
.parte_fotos.visivel {
	display: none;
}
.fotos {
	display: grid;
	overflow-y: auto;
	width: auto;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
	align-items: center;
}
/* Config da parte de baixo */
@media screen and (max-width: 900px) {
	.logo {
		img {
			width: 150px;
			height: 50px;
		}
	}
	.lupa,
	.pessoas,
	.princ {
		display: none;
	}
	.mais {
		width: 50%;
		display: flex;
		align-self: flex-start;
		justify-content: flex-end;
	}
	.parte_perfil {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		box-shadow: none;
		align-items: center;
		margin: 0 0;
	}
	.perfil {
		align-items: center;
		width: 100vw;
		background-color: rgb(240, 239, 235);
	}
	.foto_perfil {
		position: relative;
		top: -100px;
		width: 180px;
		height: 180px;
	}
	.editar_perfil {
		top: -140px;
		left: 60px;
	}
	.parte_escrita {
		width: 100vw;
		margin: 0 0;
		padding-bottom: 50px;
		align-items: center;
		text-align: center;
		position: relative;
		top: -120px;
		background-color: rgb(240, 239, 235);
		border-radius: 10px;
		box-shadow: 0px 3.5px 3.5px #0000002d;
	}
	.nome_idade {
		font-weight: 50;
		font-size: 35px;
	}
	.bio_completa {
		font-weight: 50;
		font-size: 20px;
	}
	.editar_capa {
		display: none;
	}
	.fotos {
		position: relative;
		top: -100px;
		grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	}
}
